In [1]:
import pandas as pd

/var/folders/s4/pk79slgn39g30dn5t2slg67m0000gn/T/ipykernel_44610/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
df = pd.read_csv('saved_ratings_with_currency_4_1m.csv')

df

,Unnamed: 0,MODE,SYMBOL,TIME-OPEN,PRICE-OPEN,TIME-CLOSE,PRICE-CLOSE,RESULT,CONFIRMATION
0,0,long,HIGHUSDT,2:1:10:21:56,1.404000,2:1:10:22:56,1.402000,1,False long miss
1,1,short,JOEUSDT,2:1:10:24:40,0.451500,2:1:10:25:40,0.451700,2,False short miss
2,2,short,ONGUSDT,2:1:10:24:47,0.296100,2:1:10:25:47,0.296100,0,False 0
3,3,short,BNBBTC,2:1:10:25:5,0.007066,2:1:10:26:5,0.007061,1,True short
4,4,short,KNCUSDT,2:1:10:25:6,0.574900,2:1:10:26:6,0.575400,2,False short miss
...,...,...,...,...,...,...,...,...,...
57,57,long,MANTAUSDT,2:1:11:3:58,2.986900,2:1:11:4:58,2.994400,2,True long
58,58,long,CHZUSDT,2:1:11:4:8,0.100000,2:1:11:5:8,0.099790,1,False long miss
59,59,short,CKBUSDT,2:1:11:5:6,0.004229,2:1:11:6:6,0.004249,2,False short miss
60,60,long,MANTAUSDT,2:1:11:5:39,2.995770,2:1:11:6:39,2.987380,1,False long miss
61,61,long,INJUSDT,2:1:11:6:0,33.610000,2:1:11:7:0,33.580000,1,False long miss

In [5]:
# df[(df['CONFIRMATION'] == 'False short miss') | (df['CONFIRMATION'] == 'False long miss') | (df['CONFIRMATION'] == 'False 0')]
df[(df['CONFIRMATION'] == 'False 0')]

,Unnamed: 0,MODE,SYMBOL,TIME-OPEN,PRICE-OPEN,TIME-CLOSE,PRICE-CLOSE,RESULT,CONFIRMATION
2,2,short,ONGUSDT,2:1:10:24:47,0.29610,2:1:10:25:47,0.29610,0,False 0
9,9,short,IOSTUSDT,2:1:10:25:45,0.00818,2:1:10:26:45,0.00818,0,False 0
11,11,long,ETCUSDT,2:1:10:37:44,23.80000,2:1:10:38:44,23.80000,0,False 0
15,15,long,TWTUSDT,2:1:10:39:50,1.08170,2:1:10:40:50,1.08170,0,False 0
18,18,long,STRAXUSDT,2:1:10:41:32,0.82600,2:1:10:42:32,0.82600,0,False 0
22,22,long,BALUSDT,2:1:10:42:58,3.58800,2:1:10:43:58,3.58800,0,False 0
36,36,long,ENSUSDT,2:1:10:46:13,17.39000,2:1:10:47:13,17.39000,0,False 0
44,44,long,BNTUSDT,2:1:10:53:43,0.68360,2:1:10:54:43,0.68360,0,False 0
45,45,long,CELOUSDT,2:1:10:54:31,0.64700,2:1:10:55:31,0.64700,0,False 0
46,46,long,TRUUSDT,2:1:10:54:45,0.04567,2:1:10:55:45,0.04567,0,False 0
49,49,long,IOSTUSDT,2:1:10:56:48,0.00824,2:1:10:57:48,0.00824,0,False 0
51,51,long,CELOUSDT,2:1:10:59:31,0.64700,2:1:11:0:31,0.64700,0,False 0

In [37]:
df[df['RESULT'] == True]['SYMBOL'].head(50)

5         BLURUSDT
6         MANAUSDT
7         RDNTUSDT
8         EGLDUSDT
10        HBARUSDT
13         GMTUSDT
18        API3USDT
19         APTUSDT
22       STORJUSDT
31        HOOKUSDT
32         STGUSDT
35         ADAUSDT
39       CYBERUSDT
40        GALAUSDT
42        NTRNUSDT
43       SUPERUSDT
44         ONTUSDT
52         RAYUSDT
57         LRCUSDT
61         ICXUSDT
63       1INCHUSDT
67         ICPUSDT
74         LSKUSDT
77         QNTUSDT
78         ONEUSDT
81         TWTUSDT
83         XAIUSDT
84         MTLUSDT
90         TIAUSDT
92         ENJUSDT
94        IOTXUSDT
98     AUCTIONUSDT
101        RADUSDT
102         SCUSDT
104        XRPUSDT
108        RVNUSDT
111       DUSKUSDT
112        ZECUSDT
120       AAVEUSDT
121       AVAXUSDT
125        CTKUSDT
126         IDUSDT
139        GTCUSDT
141        CHZUSDT
144       IOSTUSDT
145       AGIXUSDT
153       AGLDUSDT
155       RNDRUSDT
156        ZENUSDT
170       COMPUSDT
Name: SYMBOL, dtype: object